<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'manager_dashboard' %}">E-Office</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
          {% if user.is_superuser or user.profile.is_manager %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'manager_dashboard' %}">Manager Dashboard</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'employee_dashboard' %}">Employee Dashboard</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'task_list' %}">Task List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'archived_dashboard' %}">Archived Tasks</a>
          </li>
          {% if user.is_superuser or user.profile.is_manager %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'task_create' %}">Create Task</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <form action="{% url 'logout' %}" method="post" class="d-inline">
              {% csrf_token %}
              <button type="submit" class="nav-link btn btn-link">Logout</button>
            </form>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>